* {
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}

html {
    background-image: url('http://basehold.it/i/#{stripUnit(lhToPx($line-height))}');
    font-family: $font-sans-serif;
    font-size: rem($font-size);
    font-weight: $font-weight;
    line-height: $line-height;
}

html,
body {
    height: 100%;
}

body {
    * + * {
        margin-top: vr(1);
    }
    &,
    br,
    li,
    dt,
    dd,
    th,
    td,
    option {
        margin-top: 0;
    }
}